div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: orange;
}
@media screen and (max-width: 768px) {
    div {
        display: block;
    }
}
